$bg-color: #ffffff;
$main-color: #6965E1;
$text-color: #6E5DE3;
$controls-btn-color: #F2F2F2;
$add-file-btn-color: #ffffff;
$available-spase-color: #898989;
$table-td2-color: rgba(110, 93, 227, 0.7);

$blocks-border: 0.5px solid $main-color;